.formContainer {
  display: flex;
  flex-direction: column;
}

.submitedValue,
.addBtn {
  min-width: 25vw;
  border: 1px solid #c4cad5;
  padding: 2.4vh;
  border-radius: 2.5vh;
}

.submitedValue {
  margin-bottom: 2.56vh;
  background-color: #fafafc;
}

.addBtn {
  text-transform: uppercase;
  color: #fc5f5f;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}

.errorMessage {
  margin-bottom: 2vh;
  margin-left: 2vw;
  color: #fc5f5f;
  font-size: 11px;
}
