.todoItem {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 25vw;
  white-space: initial;
  font-size: 1rem;
  font-weight: 400;
  padding: 1.3vh;
  border-radius: 2.5vh;
  border: 1px solid #c4cad5;
  margin-top: 2.56vh;
  background-color: #fafafc;
  max-height: auto;
}

.text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.deleteIcon {
  color: #697385;
  margin-left: auto;
  cursor: pointer;
}

.icon:after {
  display: inline-block;
  content: "\00d7";
  font-size: 2rem;
  font-weight: 600;
}

.checked {
  position: relative;
}
.checked::before {
  content: "\2714";
  font-size: 17px;
  position: absolute;
  right: 0px;
  top: -4px;
}

input[type="checkbox"] {
  appearance: none;
  border: 2px solid #c4cad5;
  margin-right: 0.8vw;
  min-width: 1.4em;
  min-height: 1.4em;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.checkboxLabel {
  padding: 0 !important;
}

@media screen and (max-width: 1000px) {
  .todoItem {
    width: 60%;
  }
}
@media screen and (max-width: 769px) {
  .todoItem {
    width: 70%;
  }
}
